/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #eee;
}

header {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.search-bar {
  display: flex;
  font-size: larger;
  align-items: center;
  background-color: #f0f0f0;
  padding: 8px 16px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 16px;
  margin-bottom: 16px;
}

.search-bar input {
  border: none;
  background: none;
  margin-left: 16px;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}

.search-bar svg {
  fill: #888;
  height: 24px;
  width: 24px;
  margin-right: 16px;
}


header h1 {
  font-size: 2rem;
}

.problem-list {
  margin : 30px;
  text-align: left;
}

.problem-list ul {
  list-style: none;
  display: inline-block;
}

.problem-list li {
  display: inline-block;
  margin: 10px;
}

.problem-link {
  display: flex;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  text-decoration: none;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-size: larger;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.problem-link:hover {
  background-color: #7a7a7d;
  color: #fff;
}

.problem-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.507);
  z-index: 100;
}

.problem {
  background-color: white;
  width: 70%;
  max-height: 80%;
  max-width: 1000px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 50%;
  transform: translateY(20%);
  z-index: 101;
}

.problem-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.problem-id {
  display: none;
}

.problem-description {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
  word-break: break-all;
}

.answer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.answer-input {
  padding: 10px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.answer-button {
  padding: 10px;
  font-size: 18px;
  background-color: #5fa1b1;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.answer-button:hover {
  background-color: #428b97;
}

.answer-message {
  font-size: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}


.answer-message.correct {
  animation-name: animate-correct;
  transform-origin: center;
}

.answer-message.wrong {
  animation-name: animate-wrong;
}


@keyframes animate-correct {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-wrong {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}



.close-button {
  padding: 10px;
  font-size: 18px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.close-button:hover {
  background-color: #999;
}

/* スクロールバー非表示 */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.solved {
  background-color: #5bd95b;
}

.diff-none{
  border-style: solid;
  border-width: 3px;
  border-color: #808080;
}

.diff-baby{
  border-width: 3px;
  border-style: solid;
  border-color: #1b9e2a;
}

.diff-warmup{
  border-width: 3px;
  border-style: solid;
  border-color: #1b989e;
}

.diff-easy{
  border-width: 3px;
  border-style: solid;
  border-color: #cf9c23;
}


.diff-medium{
  border-width: 3px;
  border-style: ridge;
  border-color: #f13131;
}


.diff-hard{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 23, 23);
  position: relative;
  overflow: hidden;
}


.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.level {
  font-size: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  width: 70%;
  height: 20px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #999;
}

.progress-bar-fill {
  height: 100%;
  background-color: #36caaa;
  width: 0;
  transition: width 0.3s ease-in-out;
  border-radius: 10px;
}

.score-info {
  display: flex;
  align-items: center;

}

.score-label {
  margin-right: 5px;
}

.next-level-label {
  margin-left: 10px;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}